* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraftia', monospace;
}

body {
    height: 100vh;
    background: url("Background.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* OVERLAY */
#overlay {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    cursor: pointer;
}

#overlay.hide {
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease;
}

.click-text {
    font-size: 36px;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}

/* CARD */
.container {
    text-align: center;
}

.card {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px 40px;
    border-radius: 12px;
    backdrop-filter: blur(8px);
}

.logo {
    width: 110px;
    margin-bottom: 15px;
}

.username {
    opacity: 0.8;
    font-size: 13px;
}

.status {
    margin-top: 6px;
    font-size: 12px;
    opacity: 0.6;
}

/* LINKS */
.links {
    margin-top: 18px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.links a {
    color: white;
    font-size: 22px;
    transition: 0.2s;
}

.links a:hover {
    opacity: 0.6;
}

/* VISITOR */
.visitor {
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.6;
}
