* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraftia', sans-serif;
}

body {
    background: url("Background.png") center/cover no-repeat fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    transition: background 0.6s ease, color 0.6s ease;
}

/* Lacivert Filtre */
body.dark-theme::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 15, 40, 0.8);
    z-index: -1;
}

/* CLICK TO VIEW EKRANI */
#overlay {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

/* Tıklandıktan sonra gizleme class'ı */
#overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

.click-text {
    font-size: 32px;
    letter-spacing: 3px;
    color: white;
}

/* ANA İÇERİK */
.container {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.8s ease-out;
    z-index: 1;
}

/* Giriş yapınca içeriği göster */
.container.active {
    opacity: 1;
    transform: scale(1);
}

.card {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px 40px;
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

.logo {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.username { opacity: 0.7; }
.status { margin-top: 10px; margin-bottom: 20px; }

.links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.links a {
    color: white;
    font-size: 26px;
    text-decoration: none;
    transition: 0.3s;
}

.links a:hover { transform: scale(1.2); }

#themeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

/* Light Mode */
body.light-theme { background-color: #eee !important; color: #000; }
body.light-theme::before { display: none; }
body.light-theme .card { background: rgba(255,255,255,0.8); color: #000; }
body.light-theme .links a { color: #000; }
body.light-theme #themeBtn { color: #000; }
